In [1]:
import pandas as pd
import folium
from matplotlib import cm
from matplotlib.colors import Normalize, rgb2hex 
import geopandas as gpd
from shapely.geometry import Point


#일사량을 컬러맵으로 매핑, 결측치 적은 8월 기준

Raw Dataframe

In [2]:
df = pd.read_csv(r"../Data/monthly_insolation_2023.11-2024.12.csv", encoding="EUC-KR")
#C:\Users\HOME\Documents\workspace\solar-project\Data\monthly_insolation_2023.11-2024.12.csv

df.columns = ["loc_num", "loc_name", "date", "insolation", "latitude", "longitude"]
df

     loc_num loc_name    date  insolation  latitude  longitude
0         90       속초  Apr-24      211.45  38.25085  128.56473
1         90       속초  May-24      646.80  38.25085  128.56473
2         90       속초  Jun-24      687.49  38.25085  128.56473
3         90       속초  Jul-24      498.29  38.25085  128.56473
4         90       속초  Aug-24      588.88  38.25085  128.56473
..       ...      ...     ...         ...       ...        ...
753      296      북부산  Jul-24      516.67  35.21778  128.96024
754      296      북부산  Aug-24      639.90  35.21778  128.96024
755      296      북부산  Sep-24      469.75  35.21778  128.96024
756      296      북부산  Oct-24      347.38  35.21778  128.96024
757      296      북부산  Nov-24      304.38  35.21778  128.96024

[758 rows x 6 columns]

In [3]:
#데이터 프레임을 월별로 분류하여 정리

column_to_split = "date"

#컬럼의 값으로 데이터 분류 후 데이터 프레임 형식으로 바꾸기
months = df[column_to_split].unique()

month_df = {month: df[df[column_to_split] == month] for month in months}

#print(month_df.keys())
#month_df


jan_df = month_df["Jan-24"]
jan_df = jan_df.reset_index(drop = True)

feb_df = month_df["Feb-24"]
feb_df = feb_df.reset_index(drop = True)

mar_df = month_df["Mar-24"]
mar_df = mar_df.reset_index(drop = True)

apr_df = month_df["Apr-24"]
apr_df = apr_df.reset_index(drop = True)

may_df = month_df["May-24"]
may_df = may_df.reset_index(drop = True)

jun_df = month_df["Jun-24"]
jun_df = jun_df.reset_index(drop = True)

jul_df = month_df["Jul-24"]
jul_df = jul_df.reset_index(drop = True)

aug_df = month_df["Aug-24"]
aug_df = aug_df.reset_index(drop = True)

sep_df = month_df["Sep-24"]
sep_df = sep_df.reset_index(drop = True)

oct_df = month_df["Oct-24"]
oct_df = oct_df.reset_index(drop = True)

nov_df = month_df["Nov-24"]
nov_df = nov_df.reset_index(drop = True)

dec_df = month_df["Dec-23"]
dec_df = dec_df.reset_index(drop = True)

#jan_df  #53개의 데이터
#may_df #62개의 데이터 ---------->겨울 데이터는 결측치가 꽤 많다! 일 데이터는 관측지점 94개. 해남의 5월 데이터가 0.0으로 나와서 다른 월 선택
#dec_df #53개의 데이터
aug_df

    loc_num loc_name    date  insolation  latitude  longitude
0        90       속초  Aug-24      588.88  38.25085  128.56473
1        93      북춘천  Aug-24      600.72  37.94738  127.75443
2        95       철원  Aug-24      597.50  38.14787  127.30420
3        98      동두천  Aug-24      538.98  37.90188  127.06070
4        99       파주  Aug-24      598.78  37.88589  126.76648
..      ...      ...     ...         ...       ...        ...
56      264      함양군  Aug-24      657.58  35.51138  127.74538
57      266      광양시  Aug-24      648.08  34.94340  127.69140
58      276      청송군  Aug-24      630.10  36.43510  129.04005
59      283      경주시  Aug-24      634.75  35.81740  129.20090
60      296      북부산  Aug-24      639.90  35.21778  128.96024

[61 rows x 6 columns]

결측치가 적은 2024년 8월의 월별 데이터를 이용하여 지도 그리기

In [4]:



norm = Normalize(vmin = min(aug_df['insolation']), vmax = max(aug_df['insolation']))
print(min(aug_df['insolation']), max(aug_df['insolation'])) #최소, 최대 일사량 값 확인

colormap = cm.get_cmap("coolwarm")

aug_df["Color"] = aug_df["insolation"].apply(lambda insol: rgb2hex(colormap(norm(insol)))) # 일사량 값을 정규화 하여 컬러맵으로 변환

aug_df

507.93 712.84

C:\Users\wiewk\AppData\Local\Temp\ipykernel_17816\2004978850.py:4: MatplotlibDeprecationWarning: The get_cmap function was deprecated in Matplotlib 3.7 and will be removed in 3.11. Use ``matplotlib.colormaps[name]`` or ``matplotlib.colormaps.get_cmap()`` or ``pyplot.get_cmap()`` instead.
  colormap = cm.get_cmap("coolwarm")

    loc_num loc_name    date  insolation  latitude  longitude    Color
0        90       속초  Aug-24      588.88  38.25085  128.56473  #bfd3f6
1        93      북춘천  Aug-24      600.72  37.94738  127.75443  #cfdaea
2        95       철원  Aug-24      597.50  38.14787  127.30420  #cbd8ee
3        98      동두천  Aug-24      538.98  37.90188  127.06070  #6a8bef
4        99       파주  Aug-24      598.78  37.88589  126.76648  #cdd9ec
..      ...      ...     ...         ...       ...        ...      ...
56      264      함양군  Aug-24      657.58  35.51138  127.74538  #f6a283
57      266      광양시  Aug-24      648.08  34.94340  127.69140  #f7b194
58      276      청송군  Aug-24      630.10  36.43510  129.04005  #f1ccb8
59      283      경주시  Aug-24      634.75  35.81740  129.20090  #f4c6af
60      296      북부산  Aug-24      639.90  35.21778  128.96024  #f6bfa6

[61 rows x 7 columns]

In [5]:

#지도 생성

m = folium.Map(location=[36.5, 127.5], zoom_start=7)

#각 도시를 색상으로 표시
#행정동 경계 데이터 파일 링크 (https://github.com/vuski/admdongkor/blob/master/ver20241001/HangJeongDong_ver20241001.geojson)

#관측 지점의 좌표가 Geojson 데이터의 어느 도시에 속하는지 확인하는 코드
geojson_path = "..\\Data\\HangJeongDong_ver20241001.geojson"

gdf = gpd.read_file(geojson_path)

#확인할 좌표 리스트
aug_df['coord'] = list(zip(aug_df['latitude'], aug_df["longitude"]))

aug_df["coord"]

0     (38.25085, 128.56473)
1     (37.94738, 127.75443)
2      (38.14787, 127.3042)
3      (37.90188, 127.0607)
4     (37.88589, 126.76648)
              ...
56    (35.51138, 127.74538)
57      (34.9434, 127.6914)
58     (36.4351, 129.04005)
59      (35.8174, 129.2009)
60    (35.21778, 128.96024)
Name: coord, Length: 61, dtype: object

In [6]:
#각 좌표에 대한 확인
results = []

for i in aug_df["coord"]:
    point = Point(i[1], i[0]) #Geojson은 (경도, 위도) 순서니까!
    match = gdf[gdf.contains(point)] #좌표 지점을 포함하는 폴리곤(도시) 검색

    if not match.empty:
        city_name = match.iloc[0]["adm_nm"]
        words = city_name.split()
        results.append(words[0]+" "+words[1]) #시군구 기준 표기로 통일

aug_df["city"] = results

aug_df

,loc_num,loc_name,date,insolation,latitude,longitude,Color,coord,city
0,90,속초,Aug-24,588.88,38.25085,128.56473,#bfd3f6,"(38.25085, 128.56473)",강원특별자치도 고성군
1,93,북춘천,Aug-24,600.72,37.94738,127.75443,#cfdaea,"(37.94738, 127.75443)",강원특별자치도 춘천시
2,95,철원,Aug-24,597.50,38.14787,127.30420,#cbd8ee,"(38.14787, 127.3042)",강원특별자치도 철원군
3,98,동두천,Aug-24,538.98,37.90188,127.06070,#6a8bef,"(37.90188, 127.0607)",경기도 동두천시
4,99,파주,Aug-24,598.78,37.88589,126.76648,#cdd9ec,"(37.88589, 126.76648)",경기도 파주시
...,...,...,...,...,...,...,...,...,...
56,264,함양군,Aug-24,657.58,35.51138,127.74538,#f6a283,"(35.51138, 127.74538)",경상남도 함양군
57,266,광양시,Aug-24,648.08,34.94340,127.69140,#f7b194,"(34.9434, 127.6914)",전라남도 광양시
58,276,청송군,Aug-24,630.10,36.43510,129.04005,#f1ccb8,"(36.4351, 129.04005)",경상북도 청송군
59,283,경주시,Aug-24,634.75,35.81740,129.20090,#f4c6af,"(35.8174, 129.2009)",경상북도 경주시
60,296,북부산,Aug-24,639.90,35.21778,128.96024,#f6bfa6,"(35.21778, 128.96024)",부산광역시 강서구

In [7]:
#GeoJSON 데이터 읍, 면, 동 삭제하고 시 단위로 이름 단순화

def simplify_city_name(full_name):
    if " " in full_name:
        return full_name.split()[0] + " " + full_name.split()[1]
    return full_name

gdf['simple_name'] = gdf["adm_nm"].apply(simplify_city_name) #시 단위로 이름 단순화

#GeoJSON 데이터를 시 단위로 묶기

gdf_grouped = gdf.dissolve(by = "simple_name", as_index=False)
gdf_grouped

,simple_name,geometry,adm_nm,adm_cd2,sgg,sido,sidonm,sggnm,adm_cd
0,강원특별자치도 강릉시,"POLYGON ((128.88276 37.59205, 128.87959 37.589...",강원특별자치도 강릉시 주문진읍,5115025000,51150,51,강원특별자치도,강릉시,32030110
1,강원특별자치도 고성군,"POLYGON ((128.56537 38.27518, 128.56881 38.268...",강원특별자치도 고성군 간성읍,5182025000,51820,51,강원특별자치도,고성군,32600110
2,강원특별자치도 동해시,"POLYGON ((129.15502 37.47399, 129.15486 37.473...",강원특별자치도 동해시 천곡동,5117051000,51170,51,강원특별자치도,동해시,32040510
3,강원특별자치도 삼척시,"POLYGON ((129.08496 37.16004, 129.08486 37.160...",강원특별자치도 삼척시 도계읍,5123025000,51230,51,강원특별자치도,삼척시,32070110
4,강원특별자치도 속초시,"POLYGON ((128.60753 38.1859, 128.60928 38.1836...",강원특별자치도 속초시 영랑동,5121051000,51210,51,강원특별자치도,속초시,32060510
...,...,...,...,...,...,...,...,...,...
247,충청북도 청주시상당구,"POLYGON ((127.56547 36.52933, 127.56594 36.528...",충청북도 청주시상당구 낭성면,4311131000,43111,43,충청북도,청주시상당구,33041310
248,충청북도 청주시서원구,"POLYGON ((127.4806 36.47777, 127.4792 36.47746...",충청북도 청주시서원구 남이면,4311231000,43112,43,충청북도,청주시서원구,33042310
249,충청북도 청주시청원구,"POLYGON ((127.50183 36.64782, 127.50091 36.647...",충청북도 청주시청원구 내수읍,4311425000,43114,43,충청북도,청주시청원구,33044110
250,충청북도 청주시흥덕구,"POLYGON ((127.38844 36.58343, 127.38823 36.583...",충청북도 청주시흥덕구 오송읍,4311325000,43113,43,충청북도,청주시흥덕구,33043110
251,충청북도 충주시,"POLYGON ((127.89671 36.893, 127.89651 36.89283...",충청북도 충주시 주덕읍,4313025000,43130,43,충청북도,충주시,33020110

In [8]:
#Folium에 사용할 데이터 준비

merged = gdf_grouped.merge(aug_df, left_on="simple_name", right_on="city", how = "left")
#print(aug_df.info())
print(merged.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   simple_name  257 non-null    object
 1   geometry     257 non-null    geometry
 2   adm_nm       257 non-null    object
 3   adm_cd2      257 non-null    object
 4   sgg          257 non-null    object
 5   sido         257 non-null    object
 6   sidonm       257 non-null    object
 7   sggnm        257 non-null    object
 8   adm_cd       257 non-null    object
 9   loc_num      61 non-null     float64
 10  loc_name     61 non-null     object
 11  date         61 non-null     object
 12  insolation   61 non-null     float64
 13  latitude     61 non-null     float64
 14  longitude    61 non-null     float64
 15  Color        61 non-null     object
 16  coord        61 non-null     object
 17  city         61 non-null     object
dtypes: float64(4), geometry(1), object(13)
memory usage: 36.3+ KB
None

In [9]:
#GeoJSON 스타일 함수 정의

def style_function(feature):
    color = feature['properties'].get('Color', None)
    if color: #색상이 있는 경우 
        return {
            "fillColor" : color,
            "color" : "black", #경계선 색
            "weight": 1, #경계선 두께
            "fillOpacity": 0.7
        }
    else: #색상 데이터가 없는 경우 투명 처리
        return {
            "fillColor" : "transparent",
            "color" : "black", #경계선 색
            "weight": 1, #경계선 두께
            "fillOpacity": 0
        }

#GeoJSON 레이어 추가
folium.GeoJson(
    merged,
    style_function = style_function,
    tooltip = folium.GeoJsonTooltip(fields=["simple_name", "insolation"])
).add_to(m)

In [10]:
m.save("..\\Visualization\\insolation_map.html")
print("지도가 'insolation_map.html'로 저장되었습니다. 브라우저에서 확인하세요.")

지도가 'insolation_map.html'로 저장되었습니다. 브라우저에서 확인하세요.